<section class="new-worker" ng-controller="NewWorkerController as vm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Alta de Trabajador</h1>
                <hr>
                <div class="row">
                    <div class="col-lg-12 well">
                        <form class="form-horizontal" name="vm.newWorkerForm" novalidate>
                            <fieldset>
                                <legend>Datos del trabajador</legend>
                                <div class="form-group" ng-class="vm.newWorkerForm.name.$invalid ? 'has-error' : ''">
                                    <label class="col-lg-2 control-label">Nombre</label>
                                    <div class="col-lg-3">
                                        <input ng-model="vm.worker.name" name="name" type="text" class="form-control" minlength="5" ng-maxlength="15" required>
                                        <div ng-messages="vm.newWorkerForm.name.$error">
                                            <p ng-message="required" class="help-block text-danger">El campo nombre es obligatorio</p>
                                            <p ng-message="maxlength" class="help-block text-danger">15 caracteres como máximo</p>
                                            <p ng-message="minlength" class="help-block text-danger">5 caracteres como mínimo</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Apellidos</label>
                                    <div class="col-lg-3">
                                        <input ng-model="vm.worker.surname" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Fecha de nacimiento</label>
                                    <div class="col-lg-3">
                                        <input ng-model="vm.worker.birthdate" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Departamento</label>
                                    <div class="col-lg-3">
                                        <select ng-model="vm.worker.department" class="form-control">
                                            <option value="0">Programación</option>
                                            <option value="1">RRHH</option>
                                            <option value="2">Ecofin</option>
                                            <option value="3">Comercial</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Puesto</label>
                                    <div class="col-lg-3">
                                        <input ng-model="vm.worker.job" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Salario</label>
                                    <div class="col-lg-3">
                                        <input ng-model="vm.worker.salary" type="text" class="form-control" max="1500">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Foto</label>
                                    <div class="col-lg-3">
                                        <input type="file" onchange="angular.element(this).scope().vm.fileChange(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Observaciones</label>
                                    <div class="col-lg-3">
                                        <textarea ng-model="vm.worker.observations" rows="6" class="form-control">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button class="btn btn-primary" ng-click="vm.send()">Dar de alta</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>